<h2>開封中…（10秒後に開きます）</h2>

<p><%= @gift.giver_name %>さんより<br>
クリスマスプレゼントです</p>

<h3>「<%= @gift.message %>」</h3>

<p>お受け取りください！</p>

<script>
setTimeout("redirect()", 10000);
function redirect(){
  location.href='<%= @gift.gift_url %>';
}
</script>