<h2>開封中…</h2>

<p><%= @gift.giver_name %>さんより<br>
クリスマスプレゼントです</p>

<h3>「<%= @gift.message %>」</h3>

<p>お受け取りください！</p>

<script>
setTimeout("redirect()", 4000);
function redirect(){
  location.href='<%= @gift.gift_url %>';
}
</script>